.iconPadding {
    padding: 12px;
}
.card-width {
    width: 50%;
}
.content-margin {
    margin: 50px;
}
.card-size {
    height: 90%;
    width: 90%;
}
.display {
    justify-content: flex-end;
}
.content-height{
    height: 88vh;
}