<!-- <mat-toolbar color="warn">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Enlight</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav fxLayout="column">
    <mat-nav-list fxLayout="column">
      <a mat-list-item [routerLink]="['search']" (click)="sidenav.toggle()"> <mat-icon class="iconPadding">search</mat-icon> Search </a>
      <a mat-list-item [routerLink]="['cart']" (click)="sidenav.toggle()"> <mat-icon class="iconPadding">shopping_cart</mat-icon> Cart </a>
      <a mat-list-item [routerLink]="['myCollections']" (click)="sidenav.toggle()"> <mat-icon class="iconPadding">collections</mat-icon> My Collection </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class= "content-height">
      <div fxLayout = "row" fxLayout.xs = "column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign = "center" class="content-margin">
        <mat-form-field class="search-form">
          <input matInput placeholder = "Search in Library" type = "text" #search value="Angular">
        </mat-form-field>
        <mat-icon class="iconPadding" (click) = "getData(search.value)">search</mat-icon>
      </div>
      <div *ngIf = "books" fxLayout = "row" fxLayout.xs = "column" fxLayoutWrap fxFlexAlign="stretch" fxLayoutAlign = "center" class="content-margin">
        <div class="content">
          <div fxFlex="100%" fxLayout="row wrap" fxLayoutGap="16px grid"  >
            <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor = "let res of results trackBy:trackByTitle">
              <mat-card class="card-size" (click)= "navigateToBookDetails()">
                <mat-card-header>
                  <mat-card-title>{{res.volumeInfo.title}}</mat-card-title>
                  <mat-card-subtitle>
                    <p>{{ (res.volumeInfo.subtitle && res.volumeInfo.subtitle.length > 30)? (res.volumeInfo.subtitle | slice:0:30)+'..':(res.volumeInfo.subtitle) }}</p>
                    <p *ngIf =  "!res.volumeInfo.subtitle"><br></p>
                  </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class = "display" fxLayout="row">
                  <div><img src = {{res.volumeInfo.imageLinks.smallThumbnail}} width = "130px" height="170px"></div>
                </div>
                  <p>
                    {{ (res.volumeInfo.description.length > 300)? (res.volumeInfo.description | slice:0:300)+'..':(res.volumeInfo.description) }}
                  </p>
                  <h3>Written By:</h3>
                  <ng-container *ngIf = "res.volumeInfo.authors.length > 1; else default">
                    <div>
                      {{res.volumeInfo.authors.join(', ')}}
                    </div>
                  </ng-container>
                  <ng-template #default>
                    <p>{{res.volumeInfo.authors}}</p>
                  </ng-template>
              </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<mat-toolbar color="warn">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Enlight</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav fxLayout="column">
    <mat-nav-list fxLayout="column">
      <a mat-list-item [routerLink]="['search']" (click)="sidenav.toggle()"> <mat-icon class="iconPadding">search</mat-icon> Search </a>
      <a mat-list-item [routerLink]="['cart']" (click)="sidenav.toggle()"> <mat-icon class="iconPadding">shopping_cart</mat-icon> Cart </a>
      <a mat-list-item [routerLink]="['myCollections']" (click)="sidenav.toggle()"> <mat-icon class="iconPadding">collections</mat-icon> My Collection </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

